 

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body{
    min-height: 100vh;
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #e0e8ff;
    position: relative;
    text-align: center;
    font-size: 16px;

 }

 .folder{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 450px;
    background: white;
    border-radius: 15px;
    overflow: hidden;
} 

.text{
    padding: 8%;
}

h2{
    color: #1f2f56;   
    margin-bottom: 1em;
    font-weight: 900px;
}

p{
    color:grey
}

.box{
    background-color: #f5f7ff;
    box-sizing: content-box;
    margin: 0 30px;
    margin-bottom: 1em;
    border-radius: 15px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.underbox{
    display: flex;
    align-items: center;
    text-align: left;
}

.smallbox{
    margin-left: 20px;
}

.h5{
    font-weight: 900;
    font-size: 15px;
    color: #1f2f56;
}

.box a{
    font-weight: 900;
    color: #3829e0;  
}

.box a:hover{
    text-decoration: none;
    color: #3829e0;
}

.s{
    margin-bottom: 30px;
}

a.proceed{
    display: block;
    text-decoration: none;
    background-color: #3829e0;
    color: white;
    padding: 20px 0;
    margin: 30px 30px;
    border-radius: 15px;
}

a.proceed:hover{
    background-color: rgb(64, 0, 128)
}

a.cancel{
    text-decoration: none;
    color:grey
}

a.cancel:hover{
    color: #3829e0;
}

@media screen and (max-width: 452px) {
   
    body{
        font-size: 14px;
        background-image: url(images/images/pattern-background-mobile.svg);
    }
   
    .folder{
        max-width: 90%;
    }

    h2{
        font-size: 20px;
    }
}